<IfModule mod_rewrite.c>
  RewriteEngine on
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~embj12/phpmvc/kmom08-Exam3/skrutt is /~embj12/phpmvc/kmom08-Exam3/skrutt/
  RewriteBase /~embj12/phpmvc/kmom08-Exam3/skrutt/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>
