/** 
* Description: Core theme for Skrutt
*/

/**
* Structure
*/
html {  overflow-y: scroll;  } 


#wrapper{
  position:relative;
  top:10px;
   margin:0 auto;
   width:930px;
   background-color:#fff;
   padding: 1em;
   -moz-hyphens:auto;
   -ms-hyphens:auto;
   -webkit-hyphens:auto;
   hyphens:auto;
   word-wrap:break-word;
   
   moz-border-radius: 35px;
   border-radius: 35px;
}

#inner-wrap{
min-height:280px;
width:820px;
margin: 0 auto;
padding-bottom: 15px;
}

#inner-wrap-header{
  padding-left:14px;
  padding-right:14px;
  padding-top:14px;
  padding-bottom: 4px;
}

#inner-wrap-footer{
   padding-top: 2px;
   padding-bottom: 14px;
   padding-right: 14px;
   padding-left: 14px;
}
/**
 * Login menu
 */
#login-menu{float:right;font-size:smaller;}
#login-menu img.gravatar{vertical-align:middle;}
#login-menu a{text-decoration:none;}
#login-menu a:hover{text-decoration:underline;}


table{
	margin:0;
  padding:0;
  border:0;
  font-size:100.01%;
  font:inherit;
  vertical-align:baseline;
  border-collapse:collapse;
  border-spacing:0;
}


/* Tables. Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 33px, instead of the standard 22px or 44px
  of other elements. */
table{margin-bottom:1.375em;width:100%;}
caption{text-align:left;font-style:italic;}
thead{border-bottom:2px solid #000;}
th{vertical-align:bottom;font-weight:bold;text-align:left;}
th,td{padding:5px 10px 5px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {}
tbody tr{border-bottom:1px solid #c0a8c8;
  &:hover{color:#000;}
}

/**
 * Headings
 */
h1{border-bottom:3px double #ccc;padding-bottom:4px;}
h2{border-bottom:1px solid #ccc;padding-bottom:4px;}

#banner #site-title a { text-decoration:none; }
#banner{display:table;}
#site-logo,
#site-title,
#site-slogan {display:table-cell;width:inherit;text-align:left; color:#333;padding-bottom: 20px;vertical-align:middle;text-shadow:#ccc 2px -2px 2px;}
#site-title  {font-size:5.4em;font-family:Brush Script Std;}
#site-slogan {font-size:1.3em; padding-left:20px;}
#site-logo   {padding-right:10px;}


/**
 * User feedback message wrappers.
 */
 
/*.error, .alert, .warning, .notice, .success, .info { 
padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .warning { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a, .warning a { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }*/


#navbar{
padding-top: 10px;
}
#navbar ul.menu {
  list-style-type:none;
  padding:2px 8px;
  margin:0;
}
#navbar ul.menu li {
  padding:0;
  margin:0;
  display:inline;
}
#navbar ul.menu li a {
  padding:6px 8px;
  text-decoration:none;
  border:2px solid transparent;
}

#navbar ul.menu li a.selected {
  background-color:#cccccc;
  border:2px solid #c0a8c8;
}



.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}

#inner-wrap-flash {
  width:820px;
  margin:0 auto;
  *zoom:1;
  height:66px;
  margin-bottom:22px;
}
#inner-wrap-flash:before, #inner-wrap-flash:after {
  content:"";
  display:table;
}
#inner-wrap-flash:after { clear:both; }
#flash {
  display:inline;
  float:left;
  width:820px;
  margin:0 10px;
  height:100%;
}
#inner-wrap-featured {
  width:960px;
  margin:0 auto;
  *zoom:1;
  height:110px;
  margin-bottom:22px;
}
#inner-wrap-featured:before, #inner-wrap-featured:after {
  content:"";
  display:table;
}
#inner-wrap-featured:after { clear:both; }
#featured-first, #featured-middle, #featured-last {
  display:inline;
  float:left;
  width:260px;
  margin:0 10px;
  height:100%;
}
#inner-wrap-main {
  width:960px;
  margin:0 auto;
  *zoom:1;
  margin-bottom:22px;
}
#inner-wrap-main:before, #inner-wrap-main:after {
  content:"";
  display:table;
}
#inner-wrap-main:after { clear:both; }
#primary {
  display:inline;
  float:left;
  width:580px;
  margin:0 10px;
}
#sidebar {
  display:inline;
  float:left;
  width:200px;
  margin:0 10px;
  padding:10px;
}
#sidebar .box {
  border-top:4px double #cccccc;
  padding-top:11px;
  margin-bottom:51px;
}
#inner-wrap-triptych {
  width:960px;
  margin:0 auto;
  *zoom:1;
  height:110px;
  margin-bottom:22px;
}
#inner-wrap-triptych:before, #inner-wrap-triptych:after {
  content:"";
  display:table;
}
#inner-wrap-triptych:after { clear:both; }
#triptych { height:inherit; }
#triptych-first, #triptych-middle, #triptych-last {
  display:inline;
  float:left;
  width:260px;
  margin:0 10px;
  height:100%;
}

a { color:inherit; }
a:hover {
  text-decoration:none;
  color:#5c0a0a;
}
a:focus {
  text-decoration:none;
  color:#5c0a0a;
}
.error, .alert, .warning, .notice, .success, .info {
  padding:0.8em;
  margin-bottom:1em;
  border:2px solid #dddddd;
}
.error, .alert {
  background:#fbe3e4;
  color:#8a1f11;
  border-color:#fbc2c4;
}
.notice, .warning {
  background:#fff6bf;
  color:#514721;
  border-color:#ffd324;
}
.success {
  background:#e6efc2;
  color:#264409;
  border-color:#c6d880;
}
.info {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
}
.error a, .alert a { color:#8a1f11; }
.notice a, .warning a { color:#514721; }
.success a { color:#264409; }
.info a { color:#205791; }
.smaller-text { font-size:smaller; }
.silent { color:#999999; }

